In [3]:
import pandas as pd
new = pd.DataFrame()

In [4]:
a=[]
for i in range(6,13):
    for j in range(1,32):
        if i==6 and j==1:
            continue
        if i==7 and j<=9:
            continue
        if i==6 and j==31:
            break
        if i==9 and j==31:
            break
        if i==11 and j==31:
            break
        df=pd.read_excel(str(i)+'.'+str(j)+'.xls')
        n,_=df.shape
        #date=df.iloc[n-1].argmax()
        value=df.iloc[n-1].max()
        date=-1
        for k in range(5,29):
            if value==df.iloc[n-1,k]:
                date=k-5
                break
        a.append([date,value])
print(a)

[[10, 823], [11, 731], [9, 812], [18, 755], [10, 885], [10, 905], [11, 881], [10, 1020], [11, 1019], [10, 880], [18, 769], [11, 954], [10, 951], [10, 885], [9, 936], [10, 1003], [9, 884], [9, 814], [10, 974], [10, 955], [11, 863], [10, 963], [10, 1069], [18, 874], [10, 918], [11, 974], [10, 1247], [11, 999], [10, 1201], [10, 1444], [10, 1286], [11, 1208], [10, 1237], [10, 1459], [10, 1541], [10, 1367], [10, 1398], [10, 1366], [10, 1513], [10, 4], [9, 4], [10, 4], [10, 4], [10, 4], [9, 4], [10, 4], [9, 4], [9, 4], [9, 4], [9, 4], [9, 4], [10, 1302], [10, 1436], [10, 1408], [10, 1694], [10, 1554], [11, 1609], [11, 1488], [10, 1509], [10, 1519], [10, 1524], [10, 1529], [11, 1535], [10, 1698], [10, 1645], [10, 1610], [10, 1586], [10, 1422], [10, 1496], [10, 1519], [11, 1621], [10, 1569], [9, 1370], [10, 1499], [10, 1345], [11, 1532], [11, 1334], [11, 1334], [10, 1203], [10, 1043], [10, 1296], [10, 1009], [10, 1191], [11, 1089], [10, 1041], [11, 987], [11, 978], [10, 1067], [17, 927], [10, 1026], [9, 1090], [10, 1036], [9, 943], [-1, 9323], [10, 1173], [17, 909], [18, 954], [11, 1096], [10, 1098], [18, 879], [9, 895], [10, 1225], [9, 925], [10, 992], [9, 941], [10, 997], [10, 892], [17, 811], [10, 970], [11, 930], [18, 959], [18, 886], [9, 982], [18, 1104], [17, 899], [10, 992], [17, 934], [10, 993], [17, 913], [10, 1031], [9, 853], [10, 894], [10, 997], [10, 845], [18, 796], [9, 948], [10, 915], [10, 791], [10, 758], [10, 1029], [10, 910], [11, 867], [10, 895], [10, 769], [18, 725], [9, 748], [11, 918], [17, 778], [18, 883], [10, 860], [11, 530], [11, 636], [14, 590], [11, 677], [11, 669], [11, 598], [12, 696], [12, 579], [11, 723], [12, 626], [11, 612], [12, 704], [11, 707], [11, 671], [11, 614], [11, 721], [12, 631], [11, 668], [12, 660], [11, 629], [11, 734], [11, 580], [11, 630], [12, 571], [11, 731], [14, 680], [14, 606], [11, 678], [11, 588], [11, 690], [12, 648], [11, 621], [11, 637], [11, 598], [11, 777], [11, 501], [11, 481], [12, 574], [11, 584], [14, 626], [11, 621], [11, 673], [12, 571], [11, 537], [12, 621], [11, 571], [11, 691], [11, 687], [11, 707], [11, 587], [11, 546], [11, 595], [11, 239], [12, 246], [11, 240], [11, 217], [11, 194], [11, 202], [11, 223], [18, 371], [12, 632], [11, 595], [11, 784], [16, 430]]

In [5]:
df=pd.DataFrame(a)
df

      0     1
0    10   823
1    11   731
2     9   812
3    18   755
4    10   885
5    10   905
6    11   881
7    10  1020
8    11  1019
9    10   880
10   18   769
11   11   954
12   10   951
13   10   885
14    9   936
15   10  1003
16    9   884
17    9   814
18   10   974
19   10   955
20   11   863
21   10   963
22   10  1069
23   18   874
24   10   918
25   11   974
26   10  1247
27   11   999
28   10  1201
29   10  1444
..   ..   ...
174  11   777
175  11   501
176  11   481
177  12   574
178  11   584
179  14   626
180  11   621
181  11   673
182  12   571
183  11   537
184  12   621
185  11   571
186  11   691
187  11   687
188  11   707
189  11   587
190  11   546
191  11   595
192  11   239
193  12   246
194  11   240
195  11   217
196  11   194
197  11   202
198  11   223
199  18   371
200  12   632
201  11   595
202  11   784
203  16   430

[204 rows x 2 columns]

In [6]:
df.to_csv('数据6_12.csv',index=False)